body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

.navigation-top {
  font-weight: 1000;
  font-size: large;
  position: absolute;
  right: 5%;
  margin-top: 10px;
}

.navigation-top .text1{
  margin-right: 1vh;
  padding: 0.5vh;
}

.row {
  margin-top: 10vh;
}

.navigation-top .text1:hover{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(189, 189, 189, 0.7);
}

.navigation-top .text2{
  margin-right: 1vh;
  padding: 0.5vh;
}

.navigation-top .text2:hover{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(189, 189, 189, 0.7);
}

.navigation-top .text3{
  margin-right: 1vh;
  padding: 0.5vh;
}


.navigation-top .text3:hover{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(189, 189, 189, 0.7);
}

.img1 {
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  border-radius: 1vh;
  max-height: 400px;
  max-width: 400px;
  margin-top: 3vh;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:10px; top:0px;}
  50%  {left:0px; top:0px;}
  75%  {left:10px; top:0px;}
  100% {left:0px; top:0px;}
}

.img2 {
  max-height: 400px;
  max-width: 400px;
  margin-top: 3vh;
  border-radius: 1vh;
  opacity: 0.8;
  filter: invert(100%);
}

.testTool {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.img3 {
  max-height: 400px;
  max-width: 400px;
  margin-top: 3vh;
  border-radius: 1vh;
}

.testTool .tooltiptext {
  margin-top: 3vh;
  margin-left: 1vh;
  visibility: hidden;
  width: 120px;
  background-color: rgb(103, 9, 255);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.testTool:hover .tooltiptext {
  visibility: visible;
}

p {font-size: 16px;}
.bg-1 { 
  background-color: #8320bd; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ecb784; /* White */
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}